# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
## LLVM A style complying with [the LLVM coding standards](https://llvm.org/docs/CodingStandards.html)
## Google A style complying with [Google's C++ style guide](https://google.github.io/styleguide/cppguide.html)
## Chromium A style complying with [Chromium's style guide](https://www.chromium.org/developers/coding-style)
## Mozilla A style complying with [Mozilla's style guide](https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style)
## WebKit A style complying with [WebKit's style guide](https://www.webkit.org/coding/coding-style.html)
## Microsoft A style complying with [Microsoft's style guide](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2017)

# 基于那个配置文件
#BasedOnStyle: Google

# 每行字符的限制，0表示没有限制
#ColumnLimit: 120

# 缩进宽度
IndentWidth: 4

# tab 键盘的宽度，设置为4个字符大小
TabWidth: 4

# 排序#include，设置为 false
SortIncludes: false 

# 访问说明符的偏移(public private)
AccessModifierOffset: -4

# 在构造函数初始化时按逗号断行，并以冒号对齐
BreakConstructorInitializersBeforeComma: true

# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: true

# 连续的赋值时，对齐所有的等号
AlignConsecutiveAssignments: true

# 允许短的函数放在同一行: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All
AllowShortFunctionsOnASingleLine: None

# 是否允许短 if 单行 If true, if (a) return; 可以放到同一行
AllowShortIfStatementsOnASingleLine: false

# 允许短的循环保持在同一行
AllowShortLoopsOnASingleLine: false